/* adjust size of kaya icon for nav bar */
#kaya-icon {
    max-width: 50px;
    max-height:50px;
}

/* adjust max size of exampl picture */
#example-img {
    object-fit:contain;
    max-width: 350px;
    max-height: auto;
    /* min-width: 50%;
    min-height: 50%; */
}

/* intro paragraph on home page */
.intro {
    background-color: rgba(245, 245, 245, 0.564);
    font-style: italic;
}