/* adjust size of kaya icon for nav bar */
#kaya-icon {
    max-width: 50px;
    max-height:50px;
}

/* adjust max size of exampl picture */
#example-img {
    object-fit:contain;
    max-width: 350px;
    max-height: auto;
    /* min-width: 50%;
    min-height: 50%; */
}

/* intro paragraph on home page */
.intro {
    background-color: rgba(245, 245, 245, 0.564);
    font-style: italic;
}
/* example image description on home page */
.ex-img-desc {
    background-color: rgba(245, 245, 245, 0.564);
    font-style: italic;
    font-size:smaller;
}

/*  for orange class - color coding widthtext on hpmepage */
.orange {
    color: orange;
}
.green {
    color: green;
}

/* footer hover adjustments */
footer:hover {
    font-weight: bold;
}

/* code block adjustments on home page*/
/* #code {
    background-color: #f8f9fa;
    border: 1px dashed rgba(206, 206, 206, 0.89);
    padding: 3px;
} */